/****** Object:  Table [dbo].[BRAND]    Script Date: 9/13/2018 4:53:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BRAND]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BRAND](
	[BRAND_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[IMAGE] [varchar](max) NULL,
	[PRARENT_ID] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[LAST_MODIFICATION_DATE] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_BRAND_ID] PRIMARY KEY CLUSTERED 
(
	[BRAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__BRAND__CREATE_DA__06CD04F7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BRAND] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__BRAND__LAST_MODI__07C12930]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BRAND] ADD  DEFAULT (getdate()) FOR [LAST_MODIFICATION_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__BRAND__STATUS__08B54D69]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BRAND] ADD  DEFAULT ((0)) FOR [STATUS]
END

GO
