/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 9/13/2018 4:53:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](100) NULL,
	[LAST_NAME] [nvarchar](100) NULL,
	[GENDER] [nvarchar](50) NULL,
	[BRITHDAY] [datetime] NULL,
	[PHONE] [varchar](12) NULL,
	[EMAIL] [varchar](50) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[CUSTOMER_GROUP] [int] NULL,
	[ISPROMOTION] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
	[LAST_MODIFICATION_DATE] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_CUSTOMER_ID] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__CUSTOMER__CREATE__76969D2E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__CUSTOMER__LAST_M__778AC167]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT (getdate()) FOR [LAST_MODIFICATION_DATE]
END

GO
