/****** Object:  Table [dbo].[CUSTOMERGROUP]    Script Date: 9/13/2018 4:53:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUSTOMERGROUP](
	[GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_NAME] [nvarchar](255) NULL,
	[CREATE_DATE] [datetime] NULL,
	[LAST_MODIFICATION_DATE] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_CUSTOMERGROUP_ID] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__CUSTOMERG__CREAT__71D1E811]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CUSTOMERGROUP] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__CUSTOMERG__LAST___72C60C4A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CUSTOMERGROUP] ADD  DEFAULT (getdate()) FOR [LAST_MODIFICATION_DATE]
END

GO
