/****** Object:  Table [dbo].[MENU]    Script Date: 9/13/2018 4:53:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MENU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MENU](
	[MENU_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[MENU_URL] [nvarchar](255) NULL,
	[ISSHOW] [varchar](1) NULL,
	[ORD] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[LAST_MODIFICATION_DATE] [datetime] NULL,
 CONSTRAINT [PK_MENU_ID] PRIMARY KEY CLUSTERED 
(
	[MENU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__MENU__CREATE_DAT__245D67DE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [DF__MENU__CREATE_DAT__245D67DE]  DEFAULT (getdate()) FOR [CREATE_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__MENU__LAST_MODIF__25518C17]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [DF__MENU__LAST_MODIF__25518C17]  DEFAULT (getdate()) FOR [LAST_MODIFICATION_DATE]
END

GO
