/****** Object:  Table [dbo].[ORDERS]    Script Date: 9/13/2018 4:53:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORDERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ORDERS](
	[ORDERS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[EMPLOYEE_ID] [int] NULL,
	[TOTAL_AMOUNT] [float] NULL,
	[SHIP_METHOD] [nvarchar](100) NULL,
	[SHIP_ADDRESS] [nvarchar](255) NULL,
	[CREATE_DATE] [datetime] NULL,
	[LAST_MODIFICATION_DATE] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_ORDERS_ID] PRIMARY KEY CLUSTERED 
(
	[ORDERS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ORDERS__CREATE_D__1CBC4616]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ORDERS__LAST_MOD__1DB06A4F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (getdate()) FOR [LAST_MODIFICATION_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDERS]'))
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_ID] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDERS]'))
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_CUSTOMER_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDERS]'))
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDERS]'))
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_EMPLOYEE]
GO
