/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 9/13/2018 4:53:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[META_KEYWORDS] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[PRICE] [float] NOT NULL,
	[TOTAL_QUANTITY] [int] NULL,
	[MIN_QUANTITY] [int] NULL,
	[DISCOUNT] [float] NULL,
	[IMAGE] [varchar](max) NULL,
	[IMAGES] [varchar](max) NULL,
	[CATEGORY_ID] [int] NULL,
	[PARENT_ID] [int] NULL,
	[OUTOFSTOCK] [nvarchar](255) NULL,
	[VIEW_COUNT] [int] NULL,
	[WARRANTY] [nvarchar](100) NULL,
	[CREATE_DATE] [datetime] NULL,
	[LAST_MODIFICATION_DATE] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_PRODUCT_ID] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__PRODUCTS__CREATE__0C85DE4D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__PRODUCTS__LAST_M__0D7A0286]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT (getdate()) FOR [LAST_MODIFICATION_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__PRODUCTS__STATUS__0E6E26BF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ((0)) FOR [STATUS]
END

GO
