/****** Object:  Table [dbo].[PRODUCTSIZE]    Script Date: 9/13/2018 4:53:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTSIZE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUCTSIZE](
	[SIZE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[SIZE] [varchar](2) NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[LAST_MODIFICATION_DATE] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_SIZE_ID] PRIMARY KEY CLUSTERED 
(
	[SIZE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__PRODUCTSI__CREAT__123EB7A3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PRODUCTSIZE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__PRODUCTSI__LAST___1332DBDC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PRODUCTSIZE] ADD  DEFAULT (getdate()) FOR [LAST_MODIFICATION_DATE]
END

GO
